body {
  background-color: rgb(25, 22, 29);
}
footer {
  font-family: 'Monoton', cursive;
  font-size: 20px;
}
.title {
    color: white;
    font-family: 'Monoton', cursive;
    font-size: 55px;
}
.videoSection {
  font-family: "Francois One", sans-serif;
  color: white
}
#poster {
    background-image: url("../images/poster-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    /* Poster image size is 765x976 px */
    width: 765px;
    height: 976px;
  
    font-family: "Francois One", sans-serif;
    color: white;
}
#modal-overlay{
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
}
#modal-box{
    margin-top: 30vh;
    background-color: lightgrey;
    font-family: "Francois One", sans-serif;
    opacity: 90%;
}
#button {
  font-family: "Francois One", sans-serif;
  color: black;
}
#button {
  font-family: "Francois One", sans-serif;
  color:black;
}
#closeBtn {
    float: right;
}


.colored-header {
color:rgb(240, 201, 104)
}

.guitar-strings {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
}

#intro {
  font-family: "Francois One", sans-serif;
  color: white;
  margin-left: 20px;
}
